@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

body {
  color;: #111;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 700;
  font-size: 5em;
}

.container > span {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #cc0066;
    text-shadow: 0 0 12px #rgb(255, 27, 240), 0 0 50px rgb(255,27,240), 0 0 100px rgb(255,27,240);
  }
  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}

.container > span:nth-child(2) {
  animation-delay: 0s;
}
.container > span:nth-child(3) {
  animation-delay: 0s;
}
.container > span:nth-child(4) {
  animation-delay: 0.60s;
}
.container > span:nth-child(5) {
  animation-delay: 0.60s;
}
.container > span:nth-child(6) {
  animation-delay: 0.60s;
}
.container > span:nth-child(7) {
  animation-delay: 1.20s;
}
.container > span:nth-child(8) {
  animation-delay: 1.20s;
}
.container > span:nth-child(9) {
  animation-delay: 1.20s;
}
.container > span:nth-child(10) {
  animation-delay:1.20s;
}
.container > span:nth-child(11) {
  animation-delay: 1.20s;
}
.container > span:nth-child(12) {
  animation-delay: 1.80s;
}

.content {
    text-align: center;
}
